In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 

%matplotlib inline

In [25]:
trainDF = pd.read_csv('train.csv')
trainDF.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,20,RL,60.0,9060,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2007,WD,Normal,120000
1,1,20,FV,81.0,11216,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,New,Partial,232600
2,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2007,WD,Normal,175500
3,3,60,RL,NaN,11214,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Normal,199900
4,4,90,RL,91.0,11643,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2009,WD,Normal,200000

In [7]:
trainDF.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,782.000000,782.000000,638.000000,782.000000,782.000000,782.000000,782.000000,782.000000,778.000000,782.000000,...,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000
mean,390.500000,56.259591,70.347962,10589.554987,6.121483,5.597187,1971.773657,1985.130435,105.026992,441.840153,...,95.507673,48.809463,21.543478,4.404092,16.372123,1.538363,51.053708,6.236573,2007.835038,183335.726343
std,225.888247,41.811330,24.235914,9682.490630,1.412156,1.121387,29.912226,20.555808,181.468145,440.073738,...,126.696930,69.863601,59.134496,34.335326,57.258458,30.490618,597.794225,2.693767,1.342557,84405.797663
min,0.000000,20.000000,21.000000,1300.000000,1.000000,2.000000,1875.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,195.250000,20.000000,59.000000,7566.250000,5.000000,5.000000,1954.000000,1968.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,130625.000000
50%,390.500000,50.000000,70.000000,9423.000000,6.000000,5.000000,1973.000000,1994.000000,0.000000,386.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,165800.000000
75%,585.750000,70.000000,80.000000,11692.500000,7.000000,6.000000,2000.000000,2004.000000,169.000000,711.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213497.500000
max,781.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2009.000000,2010.000000,1600.000000,2260.000000,...,857.000000,547.000000,330.000000,508.000000,480.000000,648.000000,15500.000000,12.000000,2010.000000,755000.000000

In [70]:

t = trainDF.dtypes[trainDF.dtypes=='int64']
t = np.absolute(trainDF[t.index].dropna().corr().SalePrice)>0.1
trainDF[t.index]

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,0,20,9060,5,6,1957,2006,0,0,0,...,116,0,0,180,0,0,0,6,2007,120000
1,1,20,11216,8,5,2006,2006,0,0,1489,...,0,140,0,0,0,0,0,6,2006,232600
2,2,20,9600,7,6,1973,1973,916,0,326,...,0,0,0,0,0,0,0,9,2007,175500
3,3,60,11214,7,5,1998,1999,0,0,930,...,89,0,0,0,0,0,0,7,2006,199900
4,4,90,11643,5,5,1969,1969,500,0,748,...,0,0,0,0,0,0,0,8,2009,200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,777,20,6951,5,5,1984,1985,658,0,218,...,362,0,0,0,0,0,0,10,2008,119500
778,778,80,8530,7,5,1995,1996,0,0,384,...,120,72,0,0,0,0,700,5,2009,168500
779,779,20,13891,10,5,2006,2006,1386,0,690,...,216,229,0,0,0,0,0,9,2006,465000
780,780,20,9000,8,5,2008,2008,1078,0,488,...,144,168,0,0,0,0,0,4,2010,262500
781,781,50,5000,5,4,1900,1950,0,0,540,...,0,0,77,0,0,0,0,4,2006,79000

In [13]:
trainDF.shape

(782, 81)

In [19]:
testDF = pd.read_csv('test.csv')
testDF.shape

(196, 80)

In [22]:
sampDF = pd.read_csv('sample.csv')
sampDF.head()

    Id  SalePrice
0  782      10000
1  783      10000
2  784      10000
3  785      10000
4  786      10000

In [ ]:
X_scaled = (X - X.mean())/X.std()

# Задаем начальные приближения для w0 и w1
w0 = 100
w1 = -1

L = 0.001  #шаг обновления весов
epochs = 10 # кол-во итераций

n = float(len(X_scaled))

for i in range(epochs): 
    
    w1 = w1 + L * sum(X_scaled*(y - w0 - w1*X_scaled))# 22252
    w0 = w0 + L * sum((y - w0 - w1*X_scaled))    
    
    plt.show()
    
#     break

print (w1, w0)

In [81]:
#получаем итоговую таблицу
trainDF = pd.read_csv('train.csv')
t = trainDF.dtypes[trainDF.dtypes=='int64']
t = np.absolute(trainDF[t.index].dropna().corr().SalePrice) > 0.1
trainDF = trainDF[t.index]

# вытаскиваем размерности
s_count = trainDF.shape[1]
n = trainDF.shape[0]



# Задаем начальные приближения для w0 и w1
W = np.random.rand(s_count)

X = np.empty([s_count, n])
for i in range(s_count):

SyntaxError: unexpected EOF while parsing (<ipython-input-81-e277190aab6e>, line 18)